################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/WPF_FileExplorer.slnx
/obj
/bin/Debug/net10.0-windows
